body {

	margin:0;
	padding:0;
  	background-image: linear-gradient(yellow 8%, darkorange);
	background-size: cover;
}


/** {
   border: 1px solid red !important;
}
*/
.row {
	margin-left: 40px;
	margin-right: 20 px;
	margin-top : 20px;
	margin-bottom : 20px;	
}

.jumbotron {
	margin:0;
	padding:0;
	width: 100%;
    background: linear-gradient (yellow, gold, orange, darkorange); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( yellow, gold, orange, darkorange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, gold, orange, darkorange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, gold, orange, darkorange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellow, gold, orange, darkorange);  /*Standard syntax (must be last) */
    background-size: 1200% 1200%;
    -webkit-animation: jumbo 15s ease infinite;
	-moz-animation: jumbo 15s ease infinite;
	animation: jumbo 15s ease infinite;*/
}

@keyframes jumbo {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
    /*animating the background-position property not the colors.*/
    /*need to animate perpendicular to your gradient otherwise won't see anything. 
    Also need to have background-size of gradient be 1200% or there abouts to get the color shift.*/
}
@-webkit-keyframes jumbo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes jumbo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


h1, h2 {
	text-align: center;
	color: crimson;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Inconsolata', monospace;
}

#logInHere  {

	float: center;
    padding: 50px;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
    border-width: 10px;
    border-color: black;
    font-size: 20px;
    color: black;
}

#submit, #register {
	float: center;
	font-size: 20px;
	color: black;
	background-color: #ffcc00;
	border-radius: 10px;
}



}
