body {

	background-image: url("../public/Images/ScreenShot.png");
}
#bigbox {
	background-color: orange;
	width: 700px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

}
h1, h2 {
	text-align: center;
	color: crimson;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Inconsolata', monospace;
}

#logInHere  {

	float: center;
    padding: 50px;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
    border-width: 10px;
    border-color: black;
    font-size: 20px;
    color: black;
}

#submit, #register {
	float: center;
	font-size: 20px;
	color: black;
	background-color: #ffcc00;
}


}
.container-fluid {
	margin: 0 auto;

	
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.choices {
	float: center;
    padding: 50px;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
}

.button {
	width: 100px;
	height: 30px;


}

#submit, #register {
	font-size: 20px;
	color: black;
	background-color: #ffcc00;
}
