body {
	background-color: cornflowerBlue;
	background-image:;
}

h1, h2 {
	text-align: center;
}

.logInHere {

	float: center;
}
.container-fluid {

	
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.choices {
	float: center;
    margin: 50px;
    padding: 50px;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
}

.button {
	width: 100px;
	height: 30px;


}