body {
	background-image: url("./Images/IMG_5422.jpg");
	/*background-image: url("./Images/Jimmy_Kuehnle_Jimmy_in_Binary_binary_drawing_detail.jpg");*/
	/*something cool for later: http://www.w3schools.com/cssref/pr_background-blend-mode.asp*/
}
* {
   border: 1px solid red !important;
}
.jumbotron {
	background-color: linen;
}

h1	{
	text-align: center;

	color: black;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Inconsolata', monospace;
}

h2 {
	text-align: center;

	color: crimson;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Inconsolata', monospace;
}
/*----------Begin clickable images array------------------------------*/


.container {
	width: 100%;
	margin-left:auto;
	margin-right: auto;	
}



.row {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.col1 {
	/*display: inline;*/
	width: 32%
	vertical-align: middle;
	margin-left: 2%;
}

img {
	width: 30%;
}