body {
	/*background-image: url("./Images/IMG_5422.jpg");*/
	/*background-image: url("./Images/Jimmy_Kuehnle_Jimmy_in_Binary_binary_drawing_detail.jpg");*/
	/*maybe something cool for later: http://www.w3schools.com/cssref/pr_background-blend-mode.asp*/
	/*background-image: url("./Images/Drawing_in_Space_a_maze_1.jpg");
	background-size: cover;*/
  
background: linear-gradient(270deg, #0ef6ba, #32f60e, #f6c40e, #f23806, #f2069a, #7a06f2);
background-size: 1200% 1200%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}

/*gradient animation made with: https://www.gradient-animator.com/*/
/** {
   border: 1px solid red !important;
}*/
.jumbotron {
	background-color: purple;
}

h1	{
	text-align: center;

	color: black;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Inconsolata', monospace;
}

h2 {
	text-align: center;

	color: crimson;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Inconsolata', monospace;
}
/*----------Begin clickable images array------------------------------*/


.container {
	width: 100%;
	margin-left:auto;
	margin-right: auto;	
}



.row {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.col1 {
	/*display: inline;*/
	width: 32%
	vertical-align: middle;
	margin-left: 2%;
	background-color: white;
}

img {
	width: 30%;
}