body { background: linear-gradient(270deg, #701fc5, #cb8ed6, #8d8de1);
background-size: 600% 600%;

-webkit-animation: Purple 33s ease infinite;
-moz-animation: Purple 33s ease infinite;
-o-animation: Purple 33s ease infinite;
animation: Purple 33s ease infinite;
}

@-webkit-keyframes Purple {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Purple {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Purple {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Purple { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


#title {
	color: #EAE1FF;
	font-family : "Copperplate Gothic Light",fantasy;;
	text-decoration: underline;
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
	text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}
 
/* body {
	background:radial-gradient(circle, #5C47FF, #8780FF, #B5B7FF); ;
}
*/

#answer {
  color: black;
	width: 99%;
	border: 2px dotted gray;
	border-radius: 6px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
}


